[
 {:db/id #db/id[:users -1000]
  :person/name "John Doe"
  :person/email "john.doe@guess.me"
  :person/role #db/id[:db.part/user -2000]}
 {:db/id #db/id[:users -1001]
  :person/name "Joseph Conrad"
  :person/email "josheph.conrad@classic.com"
  :person/role #db/id[:db.part/user -2000]}
 {:db/id #db/id[:users -1002]
  :person/name "Tom Hardy"
  :person/email "tom_hard@holly.wood"
  :person/role #db/id[:db.part/user -2000]}

 {:db/id #db/id[:users -1100]
  :person/name "Lucian Layton"
  :person/email "l.lyth@yahoo.wood"
  :person/role #db/id[:db.part/user -2001]
  :student/teacher [#db/id[:users -1001]
                    #db/id[:users -1002]]}
 {:db/id #db/id[:users -1101]
  :person/name "Finlay Brock"
  :person/email "finaly_me@mail.com"
  :person/role #db/id[:db.part/user -2001]
  :student/teacher [#db/id[:users -1000]
                    #db/id[:users -1002]]}
 {:db/id #db/id[:users -1103]
  :person/name " Paulie Arrington"
  :person/email "paula@gmai.com"
  :person/role #db/id[:db.part/user -2001]
  :student/teacher [#db/id[:users -1000]
                    #db/id[:users -1001]]}
 {:db/id #db/id[:users -1104]
  :person/name "Wes Ansel"
  :person/email "wesly@holly.wood"
  :person/role #db/id[:db.part/user -2001]
  :student/teacher [#db/id[:users -1000]
                    #db/id[:users -1001]
                    #db/id[:users -1002]]}

 {:db/id #db/id[:db.part/user -2000]
  :db/ident :role.type/teacher}
 {:db/id #db/id[:db.part/user -2001]
  :db/ident :role.type/student}

 ]

;[ {:db/id #db/id[:users -100]
;  :person/name "George Orwell"}
; {:db/id #db/id[:users -101]
;  :person/name "Joseph Conrad"}
; {:db/id #db/id[:users -102]
;  :person/name "Adam Mickiewicz"}
;
; {:db/id #db/id[:library.books -200]
;  :book/title "Animal Farm"
;  :book/author #db/id[:users -100]
;  :book/genre #db/id[:db.part/user -500]}
;
; {:db/id #db/id[:db.part/user -201]
;  :book/title "Lord Jim"
;  :book/author #db/id[:users -101]
;  :book/genre #db/id[:db.part/user -501]
;  :book/publications [
;                      {:publication/city #db/id[:db.part/user -400]
;                       :publication/year  "1900"}
;                      {:publication/city #db/id[:db.part/user -401]
;                       :publication/year "1900"}
;                      {:publication/city #db/id[:db.part/user -402]
;                       :publication/year "1901"} ]
;  }
;
; {:db/id #db/id[:db.part/user -202]
;  :book/title "The Heart of Darkness"
;  :book/author #db/id[:users -101]
;  :book/genre #db/id[:db.part/user -501]
;  }
;
; {:db/id #db/id[:library.books -202]
;  :book/title "1984"
;  :book/author #db/id[:users -100]
;  :book/genre #db/id[:db.part/user -500]}
;
; {:db/id #db/id [:db.part/user -400]
;  :city/name "Tokyo"}
;
; {:db/id #db/id [:db.part/user -401]
;  :city/name "Osaka"}
;
; {:db/id #db/id [:db.part/user -402]
;  :city/name "London"}
;
; {:db/id #db/id [:db.part/user -403]
;  :city/name "Warszawa"}
;
; {:db/id #db/id [:db.part/user -404]
;  :city/name "Krakow"}
;
; {:db/id #db/id [:db.part/user -405]
;  :city/name "Gdansk"}
;
; {:db/id #db/id [:db.part/user -406]
;  :city/name "Poznan"}
;
; {:db/id #db/id [:db.part/user -407]
;  :city/name "Wroclaw"}
;
; {:db/id #db/id [:db.part/user -408]
;  :city/name "Lodz"}
;
; {:db/id #db/id [:db.part/user -409]
;  :city/name "Szczecin"}
;
; {:db/id #db/id [:db.part/user]
;  :country/name "Poland"
;  :country/city [#db/id [:db.part/user -403]
;                 #db/id [:db.part/user -404]
;                 #db/id [:db.part/user -405]
;                 #db/id [:db.part/user -406]
;                 #db/id [:db.part/user -407]
;                 #db/id [:db.part/user -408]
;                 #db/id [:db.part/user -409]]}
;
; ;; people
; {:db/id #db/id [:db.part/user -300]
;  :person/name "Geoffrey Chaucer" }
;
; {:db/id #db/id [:db.part/user -301]
;  :person/name "William Shakespeare"
;  :person/influenced-by #db/id [:db.part/user -300]}
; {:db/id #db/id [:db.part/user -302]
;  :person/name "Alexander Pope"
;  :person/influenced-by #db/id [:db.part/user -301]}
; {:db/id #db/id [:db.part/user -303]
;  :person/name "William Wordsworth"
;  :person/influenced-by #db/id [:db.part/user -302]}
; {:db/id #db/id [:db.part/user -304]
;  :person/name "Charles Dickens"
;  :person/influenced-by #db/id [:db.part/user -303]}
; {:db/id #db/id [:db.part/user -305]
;  :person/name "Thomas Hardy"
;  :person/influenced-by #db/id [:db.part/user -304]}
; {:db/id #db/id [:db.part/user -306]
;  :person/name "J.R.R. Tolkien"
;  :person/influenced-by #db/id [:db.part/user -305]}
; {:db/id #db/id [:db.part/user -307]
;  :person/name "George Orwell"
;  :person/influenced-by #db/id [:db.part/user -306]}
; {:db/id #db/id [:db.part/user -308]
;  :person/name "Anthony Burgess"
;  :person/influenced-by #db/id [:db.part/user -307]}
;
;
; {:db/id #db/id[:db.part/user -500]
;  :db/ident :book.genre/fiction}
;
; {:db/id #db/id[:db.part/user -501]
;  :db/ident :book.genre/novel}
;
;
; ]